html {
  font-size: $font-size;
  overflow-y: scroll;
}

body {
  font-size: 1rem;
  font-family: $font-main;
}

a {
  color: $color-primary;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-accent;
  }
}

h1 {
  margin: 0;
  margin-top: -7px;
  margin-bottom: $gap * 3;
  font-family: $font-header;
  font-size: 3rem;

  &:after {
    position: absolute;
    width: 100%;
    margin: 0.85em 0 0 15px;
    content: "";
    border-bottom: 3px solid #f4c583;
  }
}

h2 {
  font-family: $font-header;

  &::before {
    position: absolute;
    left: 0;
    width: 30px;
    margin: 0.25em 0 0 0;
    content: "";
    border-bottom: 3px solid rgba(240, 173, 79, 0.7);
  }

  &::after {
    position: absolute;
    width: 100%;
    margin: 0.85em 0 0 15px;
    content: "";
    border-bottom: 3px solid rgba(240, 173, 79, 0.7);
  }
}
