.header {

}

.header-logo {
  padding: 100px 0;
  background-color: $color-dark;
  text-align: center;
  background-image: url("../img/header-bg.jpg");
  background-position: 50% 50%;
  background-size: cover;

  &__title {
    display: block;
    color: $color-accent;
    font-family: $font-header;
    font-size: 3.5rem;
    letter-spacing: 0.33em;
    margin-right: -$gap;
    @extend %text-shadow;
  }

  &__description {
    display: block;
    color: $color-light;
    font-size: 1.15rem;
    letter-spacing: 0.2em;
    @extend %text-shadow;
  }
}
