.header {
  @extend %margin-bottom-lg;
}

.header-logo {
  padding: 100px 0;
  background-color: $color-dark;
  text-align: center;
  background-image: url("../img/header-bg.jpg");
  background-position: 50% 50%;
  background-size: cover;
  @extend %text-shadow;

  &__title {
    display: block;
    color: $color-accent;
    font-family: $font-header;

    @include xs-min {
      font-size: 3.5rem;
      letter-spacing: 0.33em;
      margin-right: -$gap;
    }
    @include xs {
      font-size: 2.5rem;
      letter-spacing: 0.2em;
    }
  }

  &__description {
    display: block;
    color: $color-light;
    font-size: 1.15rem;
    letter-spacing: 0.2em;
  }
}
