@mixin text-shortener {
  display: block;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin block-shortener($fz: 1rem, $lh: 1.5, $h: 70px, $l: 3) {
  display: -webkit-box;
  overflow: hidden;

  height: $h;

  font-size: $fz;
  line-height: $fz * $lh;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: $l;
}

@mixin bg-color($a: 0, $rgb: 0) {
  background: rgba($rgb, $rgb, $rgb, $a);
}

@mixin block-header {
  margin: 0;
  padding-bottom: 10px;

  border-bottom: 1px solid $color-dark;
}

@mixin visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

@media (min-width: 576px) {
  h1 {
    margin: -7.5px 0 45px;
    font-size: 3rem;
  }
  h2 {
    margin: 60px 0 45px 45px;
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .header-logo__title {
    margin-right: -0.2777em;
    letter-spacing: 0.33em;
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-left li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right li {
    margin: 5px 0 5px 5px;
  }
}

@media (max-width: 991.8px) {
  margin-bottom: 60px;
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
}

@media (max-width: 575.8px) {

  h1 {
    margin: 0 0 30px;
    font-size: 2rem;
  }
  h2 {
    margin: 45px 0 30px 45px;
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  //.header-logo__title {
  //  letter-spacing: 0.2em;
  //  font-size: 2.5rem;
  //}
}
